<div id="centro">
    <p class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>Informe suas credenciais de acesso</p>
    <table>
      <tr>
        <td>Login:</td>
        <td>
          <input pInputText type="text" [(ngModel)]="usuario.login">
        </td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td>
          <input pInputText type="password" [(ngModel)]="usuario.senha">
        </td>
      </tr>
      <tr>
        <td>
          <button pButton (click)="fazerLogin()">Entrar</button>
        </td>
      </tr>
    </table>
</div>